---
import Title from '../ui/Title.astro'
import ProjectsData from '../../data/ProjectsData.astro'
---

<div class="mt-20" id="Projects">
    <Title title="Projets" />
    <div class="grid md:grid-cols-3 gap-4">
      <ProjectsData />
    </div>
</div>