---
import Navbar from './views/Navbar.astro';
import Home from './views/Home.astro';
import About from './views/About.astro';
import Experiences from './views/Experiences.astro';
import Projects from './views/Projects.astro';
import Contact from './views/Contact.astro';
import Footer from './views/Footer.astro';
---

<div class="animated-bg" id="particles-container" aria-hidden="true"></div>

<Navbar />

<main class="relative z-10">
	<Home />
	<About />
	<Experiences />
	<Projects />
	<Contact />
</main>

<Footer />

<script>
	import { initPortfolioAnimations } from '../scripts/portfolio';
	initPortfolioAnimations();
</script>
