---
import { Icon } from 'astro-icon/components';
---

<a href="https://github.com/RomainDoyen" target="_blank" rel="noopener noreferrer">
    <Icon name="mdi:github" class="w-6 h-6 text-current" />
</a>
<a href="https://www.linkedin.com/in/romain-doyen/" target="_blank" rel="noopener noreferrer">
    <Icon name="mdi:linkedin" class="w-6 h-6 text-current" />
</a>
<a href="https://www.facebook.com/designandcreation39/" target="_blank" rel="noopener noreferrer">
    <Icon name="mdi:facebook-box" class="w-6 h-6 text-current" />
</a>
<a href="https://www.instagram.com/designandcreation_rd/" target="_blank" rel="noopener noreferrer">
    <Icon name="mdi:instagram" class="w-6 h-6 text-current" />
</a>